aside.menu-area {
    background-color: #ccc6c6;
    box-shadow: var(--shadow);
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-weight: 350;
    padding: 15px;
}

/* Para quando eu passar o mouse em cima, ele ficar evidente */
.menu a:hover {
    background: linear-gradient(135deg, #82d0ec 20%, #8ee9dd 100%);
}

@media(max-width: 768px) {
    /* The @media rule is used in media queries to apply different styles for different media types/devices. */
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu a {
            display: inline;
            padding: 10px;
            margin: 0px;
        } 

        .menu {
            height: 100%;
            justify-content: space-around;
        }
}